<h2>New Course</h2>
<%= form_for @course do|f|%>
<div>
Course Title
	<%=f.text_field :title %>

</div>

<div>
Professor
	<%=f.text_field :professor %>
</div>

<div>
Class
	<%=f.text_field :class %>
</div>
<div>
Credit
	<%=f.text_field :credit %>
</div>

<%=f.submit%>
<%end%>